.navlinks {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border-bottom: 1px solid #095797;
  padding: 2.5%;
}

.box {
  background-color: #0957970a;
  margin: 7.5%;
  border-radius: 15px;
  border: 1px solid #095797;
}

.navlinks > a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.navlinks > a:active{
  color: #095797;
}

ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
  flex-direction: row;
}
ul li{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  background-color: #09579780;
  margin: 10px;
}
li img{
  width: 75px;
}
section {
  display: none;
}

section.active {
  display: block;
}

.box1 {
  background-color: #09579780;
}
